### laptime dataset

build a laptime dataset across all the oval races

when this dataset aims to be used in forecasting, covariates of the racing status can not be included, such as track_status and current_status

+ schema: eventid, car_number, completed_lap, laptime, lap_from_lastpit, lap_to_end,

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
os.environ["CUDA_VISIBLE_DEVICES"]="7"

## Load Data

In [2]:
import os
os.getcwd()

'/scratch/hpda/indycar/predictor/notebook/9.DeepModels'

In [3]:
#
# parameters
#
#year = '2017'
year = '2018'
#event = 'Toronto'
#https://www.racing-reference.info/season-stats/2018/O/#
events_totalmiles=[256,500,372,268,500,310]
events_laplen = [1.022,2.5,1.5,0.894,2.5,1.25]
events = ['Phoenix','Indy500','Texas','Iowa','Pocono','Gateway']
events_id={key:idx for idx, key in enumerate(events)}
#events = ['Indy500']
#events = ['Phoenix']

In [4]:
# make indy car completed_laps dataset
# car_number, completed_laps, rank, elapsed_time, rank_diff, elapsed_time_diff 
def make_cl_data(dataset):

    # pick up data with valid rank
    rankdata = dataset.rename_axis('MyIdx').sort_values(by=['elapsed_time','MyIdx'], ascending=True)
    rankdata = rankdata.drop_duplicates(subset=['car_number', 'completed_laps'], keep='first')

    # resort by car_number, lap
    uni_ds = rankdata.sort_values(by=['car_number', 'completed_laps', 'elapsed_time'], ascending=True)    
    uni_ds = uni_ds.drop(["unique_id", "best_lap", "current_status", "track_status", "lap_status",
                      "laps_behind_leade","laps_behind_prec","overall_rank","pit_stop_count",
                      "last_pitted_lap","start_position","laps_led"], axis=1)
    
    carnumber = set(uni_ds['car_number'])
    print('cars:', carnumber)
    print('#cars=', len(carnumber))
   
    # faster solution , uni_ds already sorted by car_number and lap
    uni_ds['rank_diff'] = uni_ds['rank'].diff()
    mask = uni_ds.car_number != uni_ds.car_number.shift(1)
    uni_ds['rank_diff'][mask] = 0
    
    uni_ds['time_diff'] = uni_ds['elapsed_time'].diff()
    mask = uni_ds.car_number != uni_ds.car_number.shift(1)
    uni_ds['time_diff'][mask] = 0
    
    df = uni_ds[['car_number','completed_laps','rank','elapsed_time','rank_diff','time_diff']]
    
    return df

def make_lapstatus_data(dataset):
    final_lap = max(dataset.completed_laps)
    total_laps = final_lap + 1

    # get records for the cars that finish the race
    completed_car_numbers= dataset[dataset.completed_laps == final_lap].car_number.values
    completed_car_count = len(completed_car_numbers)

    print('count of completed cars:', completed_car_count)
    print('completed cars:', completed_car_numbers)
    
    #pick up one of them
    onecar = dataset[dataset['car_number']==completed_car_numbers[0]]
    onecar = onecar.drop_duplicates(subset=['car_number', 'completed_laps'], keep='first')
    return onecar[['completed_laps','track_status']]

In [5]:
def load_data(event, year):
    inputfile = '../data/final/C_'+ event +'-' + year + '-final.csv'
    outputprefix = year +'-' + event + '-'
    dataset = pd.read_csv(inputfile)
    #dataset.info(verbose=True)    
    
    final_lap = max(dataset.completed_laps)
    total_laps = final_lap + 1

    # get records for the cars that finish the race
    completed_car_numbers= dataset[dataset.completed_laps == final_lap].car_number.values
    completed_car_count = len(completed_car_numbers)

    print('count of completed cars:', completed_car_count)
    print('completed cars:', completed_car_numbers)

    #make a copy
    alldata = dataset.copy()
    dataset = dataset[dataset['car_number'].isin(completed_car_numbers)]
    rankdata = alldata.rename_axis('MyIdx').sort_values(by=['elapsed_time','MyIdx'], ascending=True)
    rankdata = rankdata.drop_duplicates(subset=['car_number', 'completed_laps'], keep='first')
    
    cldata = make_cl_data(dataset)
    flagdata = make_lapstatus_data(dataset)
    acldata = make_cl_data(alldata)

    return alldata, rankdata, acldata, flagdata

### overall view of laptime scatter plots

In [6]:
def get_cardata(curcarno, ycol='time_diff'):
    car = acldata[acldata['car_number']==curcarno]
    #print(car['time_diff'].describe())
    
    cols=['completed_laps','rank','car_number','lap_status','track_status',
    'pit_stop_count','current_status','start_position']
    colid={key:idx for idx, key in enumerate(cols)}

    cardata = rankdata[rankdata['car_number'] == curcarno]

    carstatus = [[row[0], row[1],row[2],row[3],row[4],row[5],row[6],row[7]] for row in cardata[
        ['completed_laps','rank','car_number','lap_status','track_status',
        'pit_stop_count','current_status','start_position']].values]
    
    x = car['completed_laps'][1:].values
    y = car[ycol][1:].values

    pits=[]
    yellowflags=[]
    lastflag = 'x'
    for row in carstatus:
        lap = int(row[colid['completed_laps']])

        if row[colid['lap_status']]=='P':
            pits.append(lap)

        if row[colid['track_status']]=='Y':
            if lastflag != 'Y':       
                #start
                yellowflags.append(lap)
        else:
            if lastflag == 'Y':       
                #end
                yellowflags.append(lap)        
        lastflag = row[colid['track_status']]

    #pit lap
    pits = np.array(pits)
    #start, end lap
    #
    yellowflags = np.array(yellowflags)
    if (yellowflags.shape[0] % 2)==1:
        print('crash?:carno=', curcarno)
        yellowflags = []
    else:
        yellowflags = np.array(yellowflags).reshape((-1,2))    
    
    return car, x, y, pits, yellowflags

### bulid the dataset

In [7]:
def get_laptime_dataset(stagedata):
    """
    input: (alldata, rankdata, acldata, flagdata)
    output: 
    
    [(eventid,car_number,laptime : #car_number x #totallaps (padded by zeros))]
    
    """
    laptime_data = []
    for event in stagedata.keys():
        
        laptime_rec = []
        eventid = events_id[event]
        
        alldata, rankdata, acldata, flagdata = stagedata[event]
        carlist = set(acldata['car_number'])
        laplist = set(acldata['completed_laps'])
        totalcars = len(carlist)
        totallaps = len(laplist)

        #carnumber -> carid
        carids={key:idx for idx, key in enumerate(carlist)}
        
        #array: car_number x lap
        laptime = np.zeros((totalcars, totallaps-1))
        
        lapdata = acldata[['car_number','completed_laps','time_diff']].to_numpy()
        
        for row in lapdata:
            #completed_laps
            if int(row[1]) == 0:
                continue
                
            #add to laptime array
            # array[car_number, completed_laps] = time_diff
            laptime[carids[row[0]], int(row[1])-1] = row[2]

        #add one record
        laptime_data.append([eventid, carids, laptime])
        # push this event into stage dataframe
        print('event=%s, records=%s'%(event, laptime.shape))
        
        
    return laptime_data

### load data

In [8]:
stagedata = {}
carids = {}
traindata = None
cur_carid = 0
for event in events:
    #alldata, rankdata, acldata, flagdata
    stagedata[event] = load_data(event, year)
    
    alldata, rankdata, acldata, flagdata = stagedata[event]
    carlist = set(acldata['car_number'])
    laplist = set(acldata['completed_laps'])
    print('%s: carno=%d, lapnum=%d'%(event, len(carlist), len(laplist)))

    #build the carid map
    for car in carlist:
        if car not in carids:
            carids[car] = cur_carid
            cur_carid += 1

('count of completed cars:', 11)
('completed cars:', array([ 1,  6, 27,  9, 28,  5, 20, 14, 15, 22, 30]))
('cars:', set([1, 5, 6, 9, 14, 15, 20, 22, 27, 28, 30]))
('#cars=', 11)
('count of completed cars:', 11)
('completed cars:', array([ 1,  6, 27,  9, 28,  5, 20, 14, 15, 22, 30]))

/scratch/hpda/anaconda3/envs/py2/lib/python2.7/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/scratch/hpda/anaconda3/envs/py2/lib/python2.7/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

('cars:', set([1, 4, 5, 6, 9, 10, 12, 14, 15, 18, 19, 20, 21, 22, 23, 26, 27, 28, 30, 32, 59, 88, 98]))
('#cars=', 23)
Phoenix: carno=23, lapnum=251
('count of completed cars:', 18)
('completed cars:', array([12, 20,  9, 27, 28, 22, 29,  1,  6, 15, 66, 98,  4, 88, 25, 60, 64,
       23]))
('cars:', set([64, 1, 66, 4, 6, 9, 12, 98, 15, 60, 20, 22, 23, 88, 25, 27, 28, 29]))
('#cars=', 18)
('count of completed cars:', 18)
('completed cars:', array([12, 20,  9, 27, 28, 22, 29,  1,  6, 15, 66, 98,  4, 88, 25, 60, 64,
       23]))
('cars:', set([1, 3, 4, 6, 7, 9, 10, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 59, 60, 64, 66, 88, 98]))
('#cars=', 33)
Indy500: carno=33, lapnum=201
('count of completed cars:', 9)
('completed cars:', array([ 9, 22, 27,  5, 28, 15, 30, 18, 10]))
('cars:', set([5, 9, 10, 15, 18, 22, 27, 28, 30]))
('#cars=', 9)
('count of completed cars:', 9)
('completed cars:', array([ 9, 22, 27,  5, 28, 15, 30, 18, 10]))
('cars:', set([1, 3, 4, 5, 6, 7, 9, 10, 12, 14, 15, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 30, 47, 55, 57, 59, 60, 68, 73, 83, 88, 98]))
('#cars=', 32)
Texas: carno=32, lapnum=249
('count of completed cars:', 5)
('completed cars:', array([ 5, 21, 30,  1,  6]))
('cars:', set([1, 30, 5, 6, 21]))
('#cars=', 5)
('count of completed cars:', 5)
('completed cars:', array([ 5, 21, 30,  1,  6]))
('cars:', set([1, 4, 5, 6, 9, 10, 12, 14, 15, 18, 19, 20, 21, 22, 23, 26, 27, 28, 30, 59, 88, 98]))
('#cars=', 22)
Iowa: carno=22, lapnum=301
('count of completed cars:', 4)
('completed cars:', array([27, 12,  9, 18]))
('cars:', set([9, 18, 27, 12]))
('#cars=', 4)
('count of completed cars:', 4)
('completed cars:', array([27, 12,  9, 18]))
('cars:', set([1, 4, 5, 6, 9, 10, 12, 14, 15, 18, 19, 20, 21, 22, 23, 26, 27, 28, 30, 59, 88, 98]))
('#cars=', 22)
Pocono: carno=22, lapnum=201
('count of completed cars:', 8)
('completed cars:', array([12, 27,  9, 22, 26, 21,  1, 10]))
('cars:', set([1, 9, 10, 12, 21, 22, 26, 27]))
('#cars=', 8)
('count of completed cars:', 8)
('completed cars:', array([12, 27,  9, 22, 26, 21,  1, 10]))
('cars:', set([1, 98, 59, 4, 5, 9, 10, 12, 14, 15, 18, 19, 20, 21, 22, 23, 88, 26, 27, 28, 30]))
('#cars=', 21)
Gateway: carno=21, lapnum=249

In [9]:
laptime_data = get_laptime_dataset(stagedata)

event=Iowa, records=(22, 300)
event=Phoenix, records=(23, 250)
event=Indy500, records=(33, 200)
event=Pocono, records=(22, 200)
event=Gateway, records=(21, 248)
event=Texas, records=(32, 248)

In [17]:
#check Car12 Indy500
laptime_data[2][2][7,:]

array([ 41.9238,  41.036 ,  41.3339,  41.0918,  40.7903,  41.1153,
        41.2998,  41.1854,  41.0853,  41.0486,  41.2261,  41.3214,
        41.2019,  41.1745,  41.3155,  41.2843,  41.4283,  41.407 ,
        41.4171,  41.4934,  41.3869,  41.2333,  41.2477,  41.3136,
        41.1053,  41.398 ,  41.9177,  41.9383,  42.1843,  44.0387,
        45.6879,  56.1652,  67.5397,  41.6366,  40.9116,  40.359 ,
        40.5654,  40.9596,  41.2025,  41.2059,  41.3058,  41.0387,
        41.124 ,  41.4863,  41.3339,  41.3737,  41.7481,  62.8487,
        97.1485, 116.1604, 117.8701, 105.3076, 109.6285, 104.8311,
        73.6674,  44.3144,  42.3946,  47.4349,  94.0684, 104.9096,
       106.4687,  93.924 ,  75.1453,  41.9144,  41.2125,  41.1279,
        41.2738,  46.8344,  94.5176, 111.4085, 106.6239, 101.914 ,
        80.7889,  42.0244,  41.0676,  41.1153,  41.2297,  41.2734,
        41.4444,  41.3528,  41.5088,  41.3364,  41.3633,  41.3129,
        41.3298,  41.564 ,  41.3727,  41.5422,  42.5959,  41.6575,
        41.0848,  41.2235,  40.7131,  52.4746,  66.0099,  40.7442,
        42.033 ,  42.3354,  42.4141,  42.3587,  43.0247,  43.6091,
        42.9706,  42.3693,  41.8856,  41.004 ,  40.7386,  41.1659,
        41.6323,  41.2931,  41.2798,  41.6296,  41.1937,  41.1317,
        41.2511,  41.435 ,  41.5182,  41.6587,  41.8047,  42.1317,
        43.9816,  42.5477,  41.799 ,  41.4448,  41.4191,  41.5265,
        41.5044,  41.4755,  53.4746,  65.5256,  41.2378,  40.6622,
        41.4701,  41.6059,  42.5239,  42.8745,  42.9696,  42.5915,
        67.9016,  88.9984, 116.8043, 104.0885, 103.7446, 100.0819,
        82.208 ,  42.127 ,  78.847 ,  94.2223,  94.1326,  88.3311,
        88.4775,  88.3446,  79.9803,  41.851 ,  79.1669, 100.6313,
       107.0415,  94.2781,  92.5697,  88.0034,  79.4516,  41.542 ,
        40.8951,  40.9296,  40.9509,  40.9709,  40.9543,  40.9389,
        40.9272,  40.8935,  52.4221,  65.157 ,  41.555 ,  40.9037,
        41.6932,  40.9492,  40.9918,  40.7935,  40.7709,  40.5258,
        41.0867,  41.0525,  41.181 ,  42.1406,  40.6686,  40.7106,
        40.7005,  41.1804,  75.9099,  84.6302, 116.1761, 116.2168,
        82.4609,  42.6796,  40.7641,  41.6069,  40.7958,  40.5646,
        40.3035,  41.3651])

In [19]:
alldata, rankdata, acldata, flagdata = stagedata['Indy500']
acldata[acldata['car_number']==12]

       car_number  completed_laps  rank  elapsed_time  rank_diff  time_diff
MyIdx
2              12               0     3        0.2247        0.0     0.0000
37             12               1     2       42.1485       -1.0    41.9238
148            12               2     2       83.1845        0.0    41.0360
231            12               3     3      124.5184        1.0    41.3339
311            12               4     3      165.6102        0.0    41.0918
393            12               5     3      206.4005        0.0    40.7903
474            12               6     3      247.5158        0.0    41.1153
558            12               7     3      288.8156        0.0    41.2998
644            12               8     3      330.0010        0.0    41.1854
729            12               9     3      371.0863        0.0    41.0853
815            12              10     3      412.1349        0.0    41.0486
903            12              11     3      453.3610        0.0    41.2261
991            12              12     3      494.6824        0.0    41.3214
1076           12              13     3      535.8843        0.0    41.2019
1165           12              14     3      577.0588        0.0    41.1745
1254           12              15     3      618.3743        0.0    41.3155
1344           12              16     3      659.6586        0.0    41.2843
1435           12              17     3      701.0869        0.0    41.4283
1523           12              18     3      742.4939        0.0    41.4070
1612           12              19     3      783.9110        0.0    41.4171
1702           12              20     3      825.4044        0.0    41.4934
1792           12              21     3      866.7913        0.0    41.3869
1881           12              22     3      908.0246        0.0    41.2333
1973           12              23     3      949.2723        0.0    41.2477
2063           12              24     3      990.5859        0.0    41.3136
2153           12              25     3     1031.6912        0.0    41.1053
2242           12              26     3     1073.0892        0.0    41.3980
2332           12              27     3     1115.0069        0.0    41.9177
2424           12              28     3     1156.9452        0.0    41.9383
2516           12              29     3     1199.1295        0.0    42.1843
...           ...             ...   ...           ...        ...        ...
15912          12             171     8     9297.1020        7.0    52.4221
16054          12             172    16     9362.2590        8.0    65.1570
16145          12             173    13     9403.8140       -3.0    41.5550
16240          12             174    10     9444.7177       -3.0    40.9037
16325          12             175     9     9486.4109       -1.0    41.6932
16404          12             176     8     9527.3601       -1.0    40.9492
16488          12             177     7     9568.3519       -1.0    40.9918
16577          12             178     7     9609.1454        0.0    40.7935
16658          12             179     7     9649.9163        0.0    40.7709
16745          12             180     6     9690.4421       -1.0    40.5258
16832          12             181     6     9731.5288        0.0    41.0867
16922          12             182     5     9772.5813       -1.0    41.0525
17006          12             183     5     9813.7623        0.0    41.1810
17088          12             184     5     9855.9029        0.0    42.1406
17171          12             185     4     9896.5715       -1.0    40.6686
17255          12             186     4     9937.2821        0.0    40.7106
17336          12             187     4     9977.9826        0.0    40.7005
17414          12             188     4    10019.1630        0.0    41.1804
17510          12             189     4    10095.0729        0.0    75.9099
17612          12             190     4    10179.7031        0.0    84.6302
17703          12             191     4    10295.8792        0.0   116.1761
17797          12             192     4    10412.0960        0.0   116.2168
17852          12             193     4    10494.5569        0.0    82.4609
17947          12             194     3    10537.2365       -1.0    42.6796
18018          12             195     3    10578.0006        0.0    40.7641
18067          12             196     1    10619.6075       -2.0    41.6069
18164          12             197     1    10660.4033        0.0    40.7958
18255          12             198     1    10700.9679        0.0    40.5646
18338          12             199     1    10741.2714        0.0    40.3035
18419          12             200     1    10782.6365        0.0    41.3651

[201 rows x 6 columns]

In [12]:
import pickle
#stintdf.to_csv('laptime-%s.csv'%year)
with open('laptime-%s.pickle'%year, 'wb') as f:
    # Pickle the 'data' dictionary using the highest protocol available.
    pickle.dump(laptime_data, f, pickle.HIGHEST_PROTOCOL)

In [13]:
with open('laptime-2018.pickle', 'rb') as f:
    # The protocol version used is detected automatically, so we do not
    # have to specify it.
    data = pickle.load(f)

In [14]:
pickle.__version__

'$Revision: 72223 $'