In [45]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import os

In [5]:
drivers = pd.read_csv('../data/final/drivers.csv')

In [7]:
drivers

        race  year carid          drivername  driverid
0    Gateway  2017    10         Tony Kanaan       294
1    Gateway  2017    12          Will Power       461
2    Gateway  2017    14        Carlos Munoz       704
3    Gateway  2017    15        Graham Rahal       400
4    Gateway  2017    18  Sebastien Bourdais       371
..       ...   ...   ...                 ...       ...
986    Texas  2019     5   James Hinchcliffe       480
987    Texas  2019     7     Marcus Ericsson      1087
988    Texas  2019    88        Colton Herta       879
989    Texas  2019    98      Marco Andretti       369
990    Texas  2019     9         Scott Dixon       326

[991 rows x 5 columns]

In [9]:
races = ['Indy500', 'Texas','Iowa','Pocono'] 
years = ['2013','2014','2015','2016','2017','2018','2019'] 

events = [] 
for race in races:
    events.extend([f'{race}-{x}' for x in years])
events.extend(['Phoenix-2018','Gateway-2018','Gateway-2019'])                                        
events_id={key:idx for idx, key in enumerate(events)}

In [40]:
for event in events:
    inputfile = '../data/final/C_'+ event +'.csv'
    outputfile = '../data/final/driverid/C_'+ event +'.csv'
    
    if not os.path.exists(inputfile):
        print(f'{inputfile} does not exist')
        continue
    
    dataset = pd.read_csv(inputfile)
    
    #replace 'car_num' with driverid
    race,year = event.split('-')
    year = int(year)
    driverset = drivers[(drivers['race']==race) & (drivers['year']==year)]
    print(f'event:{event}, race={race},year={year}, size={len(driverset)}')
    
    driverset = driverset[['carid','driverid']].to_numpy()
    carid2driverid = {carid:driverid for carid, driverid in driverset}
    
    dataset['car_number'] = dataset['car_number'].apply(lambda x:carid2driverid[str(x)])

    dataset.to_csv(outputfile)

event:Indy500-2013, race=Indy500,year=2013, size=33
event:Indy500-2014, race=Indy500,year=2014, size=33
event:Indy500-2015, race=Indy500,year=2015, size=33
event:Indy500-2016, race=Indy500,year=2016, size=33
event:Indy500-2017, race=Indy500,year=2017, size=33
event:Indy500-2018, race=Indy500,year=2018, size=33
event:Indy500-2019, race=Indy500,year=2019, size=33
event:Texas-2013, race=Texas,year=2013, size=24
event:Texas-2014, race=Texas,year=2014, size=22
event:Texas-2015, race=Texas,year=2015, size=23
event:Texas-2016, race=Texas,year=2016, size=22
event:Texas-2017, race=Texas,year=2017, size=22
event:Texas-2018, race=Texas,year=2018, size=22
event:Texas-2019, race=Texas,year=2019, size=22
event:Iowa-2013, race=Iowa,year=2013, size=24
{inputfile} does not exist
event:Iowa-2015, race=Iowa,year=2015, size=24
event:Iowa-2016, race=Iowa,year=2016, size=22
event:Iowa-2017, race=Iowa,year=2017, size=21
event:Iowa-2018, race=Iowa,year=2018, size=22
event:Iowa-2019, race=Iowa,year=2019, size=22
event:Pocono-2013, race=Pocono,year=2013, size=24
{inputfile} does not exist
event:Pocono-2015, race=Pocono,year=2015, size=24
event:Pocono-2016, race=Pocono,year=2016, size=22
event:Pocono-2017, race=Pocono,year=2017, size=22
event:Pocono-2018, race=Pocono,year=2018, size=22
event:Pocono-2019, race=Pocono,year=2019, size=22
event:Phoenix-2018, race=Phoenix,year=2018, size=23
event:Gateway-2018, race=Gateway,year=2018, size=21
event:Gateway-2019, race=Gateway,year=2019, size=22

### verify result

In [1]:
from indycar.model.quicktest_modules_sota import *

alldata, rankdata, acldata, flagdata = load_data('Indy500-2018')

count of completed cars: 18
completed cars: [ 461  300  326  522  442  658  704  606 1026  400  443  369 1003  747
  500  850  285  477]
cars: {477, 704, 1026, 326, 522, 747, 300, 461, 1003, 400, 369, 658, 850, 500, 442, 443, 285, 606}
#cars= 18
count of completed cars: 18
completed cars: [ 461  300  326  522  442  658  704  606 1026  400  443  369 1003  747
  500  850  285  477]
cars: {385, 1026, 522, 400, 658, 918, 538, 922, 285, 543, 294, 300, 564, 948, 442, 443, 704, 580, 326, 457, 461, 850, 477, 606, 608, 358, 747, 1003, 752, 369, 371, 500, 254}
#cars= 33

/N/u/pengb/hpda/indycar/predictor/src/indycar/model/quicktest_modules_sota.py:116: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uni_ds['rank_diff'][mask] = 0
/N/u/pengb/hpda/indycar/predictor/src/indycar/model/quicktest_modules_sota.py:120: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uni_ds['time_diff'][mask] = 0

In [2]:
rankdata.head(2)

,Unnamed: 0,rank,car_number,unique_id,completed_laps,elapsed_time,last_laptime,lap_status,best_laptime,best_lap,...,time_behind_prec,laps_behind_prec,overall_rank,overall_best_laptime,current_status,track_status,pit_stop_count,last_pitted_lap,start_position,laps_led
MyIdx,,,,,,,,,,,,,,,,,,,,,
0,0,1,300,0,0,0.000,91.4880,T,0.0,0,...,0.000,0,1,0.0,Active,G,0,0,1,0
1,1,2,658,1,0,0.112,91.0722,T,0.0,0,...,0.112,0,2,0.0,Active,G,0,0,2,0

### test

In [32]:
race='Indy500'
year=2013
driverset = drivers[(drivers['race']==race) & (drivers['year']==year)]

In [33]:
driverset = driverset[['carid','driverid']].to_numpy()

In [34]:
driverset

array([['10', 296],
       ['11', 294],
       ['12', 461],
       ['14', 543],
       ['15', 400],
       ['16', 653],
       ['18', 459],
       ['19', 466],
       ['1', 442],
       ['20', 300],
       ['21', 606],
       ['22', 285],
       ['25', 369],
       ['26', 704],
       ['27', 480],
       ['2', 820],
       ['3', 254],
       ['41', 580],
       ['4', 443],
       ['55', 630],
       ['5', 465],
       ['60', 354],
       ['63', 483],
       ['6', 491],
       ['77', 658],
       ['78', 529],
       ['7', 371],
       ['81', 611],
       ['83', 477],
       ['8', 361],
       ['91', 77],
       ['98', 474],
       ['9', 326]], dtype=object)

In [35]:
{carid:driverid for carid, driverid in driverset}

{'10': 296,
 '11': 294,
 '12': 461,
 '14': 543,
 '15': 400,
 '16': 653,
 '18': 459,
 '19': 466,
 '1': 442,
 '20': 300,
 '21': 606,
 '22': 285,
 '25': 369,
 '26': 704,
 '27': 480,
 '2': 820,
 '3': 254,
 '41': 580,
 '4': 443,
 '55': 630,
 '5': 465,
 '60': 354,
 '63': 483,
 '6': 491,
 '77': 658,
 '78': 529,
 '7': 371,
 '81': 611,
 '83': 477,
 '8': 361,
 '91': 77,
 '98': 474,
 '9': 326}

In [27]:
set(list(drivers.year.to_numpy()))

{2008, 2009, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019}

In [28]:
year

'2013'